{% extends "layout.html" %}

{% block title %}{{ subject.title }}{% endblock %}

{% block content %}
<article>
    <h2>{{ subject.title }}</h2>
    
    <section>
        {% for activity in subject.activity_set.all %}
            <h3>
            <a href="{% url 'subjects:activity' subject_pk=activity.subject.pk activity_pk=activity.pk %}">
                {{ activity.title }}
            </a>
            </h3>
            {{ activity.description }}
        {% endfor %}
    </section>
</article>
{% endblock %}