body {
  color: #FFFFFF;
  background-color:#000000;
}

.site-container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  
  .site-container::after {
    clear: both;
    content: "";
    display: table; 
  }
    
  .site-container nav {
    width: 100%;
    display: table;
    table-layout: fixed;
    border-radius: 10px;
    background-color: #000000;
    border: solid 5px #07db00;
    margin-bottom: 1em;
    overflow: hidden; 
  }
    
    .site-container nav a {
      display: table-cell;
      width: 8.33333%;
      padding: 10px;
      color: #FFFFFF;
      font-weight: bold;
      line-height: 1em;
      text-align: center;
      text-decoration: none; 
    }
      
      .site-container nav a:hover {
        background: #08dc00;
        color: #000000; 
      }

.cards {
    margin: 0 auto;
    width: 50%;
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
}

.card {
      display: table-cell;
      width: 8.33333%;
      font-weight: bold;
      line-height: 4em;
      text-align: center;
      border-radius: 10px;
      background-color: #000000;
      border: solid 5px #07db00;
}

  .card:hover {
    background: #08dc00;
    color: #000000; 
  }

.breadcrumb { 
	list-style: none; 
	overflow: hidden; 
	font: 18px Helvetica, Arial, Sans-Serif;
}

  .breadcrumb li { 
  	float: left; 
  }
  
    .breadcrumb li a {
    	color: white;
    	text-decoration: none; 
    	padding: 10px 0 10px 65px;
    	background: brown;
    	background: hsla(34,85%,35%,1); 
    	position: relative; 
    	display: block;
    	float: left;
    }
  
      .breadcrumb li a:after { 
      	content: " "; 
      	display: block; 
      	width: 0; 
      	height: 0;
      	border-top: 50px solid transparent;
      	border-bottom: 50px solid transparent;
      	border-left: 30px solid hsla(34,85%,35%,1);
      	position: absolute;
      	top: 50%;
      	margin-top: -50px; 
      	left: 100%;
      	z-index: 2; 
      }
      
      .breadcrumb li a:before { 
      	content: " "; 
      	display: block; 
      	width: 0; 
      	height: 0;
      	border-top: 50px solid transparent;       
      	border-bottom: 50px solid transparent;
      	border-left: 30px solid white;
      	position: absolute;
      	top: 50%;
      	margin-top: -50px; 
      	margin-left: 1px;
      	left: 100%;
      	z-index: 1; 
      }
      
      .breadcrumb li a:hover { 
        background: hsla(34,85%,25%,1); 
      }
      
        .breadcrumb li a:hover:after { 
          border-left-color: hsla(34,85%,25%,1) !important; 
        }
        
.activity_log {
  border-collapse: collapse;
}
  
  .activity_log thead {
    font-weight: bold;
  }
  
  .activity_log thead, td{
    border: 1px solid #07db00;
    padding: 5px;
  }
